.container-profile{
    width: 100%;
    max-width: 1400px;
}
.navegation{
    min-width: 487px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navegation h3{
    padding: 20px;
}

.nav button{
    width: 100px;
    padding: 0.6em 1.2rem;
}

.nav a{
    margin-top: 20px;
    margin-right: 20px;
}

.container-box{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    width: 90%;
    height: auto;
    justify-content: space-between;
}
.form-box{
    width: 250px;
    height: auto;
    background: var(--palette-primary);
    border: 0;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.form-box input{
    width: 150px;
    font-size: 15px;
    padding: 0.6rem 1.5rem;
    margin: 10px;
}

.form-box textarea{
    width: 150px;
    margin: 10px;
    font-size: 15px;
}

.form-box button{
    width: 100px;
    padding: 0.6rem 1.5rem;
    margin: 10px;
}

@media (max-width: 900px){
    .container-box{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .nav {
        display: flex;
    }
    .nav button{
        width: 80px;
    }
    .nav a{
        margin-top: 28px;
    }
}