.page-login{
    background: var(--palette-background);
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.page-login h1{
    padding-top: 50px;
    padding-bottom: 40px;
    color: var(--palette-primary-contrastText);
}

.conteiner{
    width: 22rem;
    height: auto;
    justify-content: space-around;
    background: var(--palette-primary);
    border: 0;
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.conteiner form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner input{
    color: var(--palette-text-input);
    border: 0;
    width: 300px;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    margin: 10px;
}
.conteiner input + input{
    margin-top: 20px;
}

.conteiner textarea{
    color: var(--palette-text-input);
    border: 0;
    width: 300px;
    min-Height: 100px;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    margin: 10px;
    outline: 0;
    resize: vertical;
    
}

.conteiner button {
    text-align: center;
    border: 0;
    width: 300px;
    background-color: var(--palette-secondary);
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    margin: 15px;
    cursor: pointer;
}

.conteiner a{
    text-decoration: none;
    color: var(--palette-primary-contrastText);
}